@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

p {
  @apply my-2;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl my-8 leading-tight font-bold;
}

h3 {
  @apply text-lg my-4 leading-tight font-bold;
}
